.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 87px;
  height: 100vh;
  width: 100%;
}

.form-container {
  width: 350px;
  height: 70vh;
  padding: 22px;
  border: 3px inset rgba(255, 255, 255, 0.2); 
  border-radius: 7px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
  margin: 30px 0px;
  font-size: 36px;
  color: #333;
  text-align: center;
}

.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.name-input{
  display: flex;
}

.form-input {
  width: 100%;
  padding: 10px 30px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 14px;
  outline: none;
}

.icon{
  margin-left: 8px;
  position: absolute;
  color: #888;
}

.remember-forgot{
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  color: #333;
}

.remember-forgot a{
  color: #007bff;
}

.btn-box {
  margin-top: 20px;
  text-align: center;
}

.form-submit {
  width: 100%;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-submit:hover {
  background-color: #0056b3;
}

.link-btn {
  margin-top: 10px;
  text-align: center;
}

.link-btn a {
  color: #007bff;
  text-decoration: none;
}

.link-btn a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .form-container {
    max-width: 250px;
    height: 55vh;
  }

  .form-input::placeholder{
    font-size: 12px;
  }

  .link-btn {
    font-size: 12px;
  }
}
